*{
    box-sizing: border-box;

}
p{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    padding: 0;
    margin: 0;
}
#header{
    height:30px;
    width:100%;
    background-color:#F8F8F8;
    border-bottom: 1px solid #EEEEEE;
}
#login{
    width: 190px;
    margin-top: -16px;
    padding-left: 115px;
}
#login>li{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}
#login>li>a:hover{
    color:#FF8B31;
}
#login>li>a{
    color:#4C4442;
}
#login>li.register{
    border-left:1px solid #CECFD0;
}
#header>div.new_Bird>a>img{
    padding-left: 10px;
}
#list_eight>ul.list{
    padding: 0;
    margin: 0;
    margin-top: -1.5%;
    margin-left: 43%;
}
#list_eight>ul.list>li{
    float: left;
    padding: 0px 15px 0px 15px;
}
.font{
    font-size:12px;
    color:#4C4442;
    font-family: "Microsoft YaHei";
}
.hover_Color{
    color:#fe8800;
}
#list_eight>ul.list>li:nth-child(1)>a:hover{
    color: #fe8800;
}
#list_eight>ul.list>li:nth-child(5)>a:hover{
    color: #fe8800;
}
.img1{
    width: 20px;
    display: block;
    height: 17px;
    background: url("../img/header-Search-Need.png") no-repeat -38px -48px;
}
.img2{
    display: block;
    width: 13px;
    height: 18px;
    background: url("../img/header-Search-Need.png") no-repeat -8px -49px;
}
.img3{
    display: block;
    margin-top: 5px;
    width: 20px;
    height: 16px;
    background: url("../img/header-Search-Need.png") no-repeat -63px -47px;
}
.img1:hover{
    width: 20px;
    height: 18px;
    display: block;
    background-position: -84px -47px;
}
.img3:hover{
    display: block;
    width: 20px;
    height: 16px;
    background-position: -92px -5px;
}
.img2:hover{
    background: url("../img/phone1.gif");
    background-position: -10px -6px;
}
.active_bg{
    height: 30px;
    margin-top: -6px;
    background-color: #fff;
    border: 1px Solid #ddd;
    border-bottom: none;
    border-top: none;
}
#list_eight>ul.list>li.phone{
    padding-top: 7px;
}
.jielun{
    float: left;
    margin-left: -112px;
    margin-top: 23px;
    display: none;
    z-index: 30;
    position: fixed;
}
.weixin_img{
    float: left;
    margin-left: -270px;
    margin-top: 23px;
    display: none;
    z-index: 30;
    position: absolute;
}

ul.my_Order{
    position: absolute;
    padding: 0;
    margin: 0;
    margin-left: -15px;
    background: #fff;
    border: 1px solid #eeeeee;
    border-top: none;
    display: none;
}
ul.my_Order>li{
    padding: 4px 7px 4px 10px;
    text-align: center;
}
.special{
    background: #ffffff;
}
.weixin{
    width: 45px;
    height: 30px;
    margin-top: -6px;
}
#header-Search{

}
.test_Border{
    width:1100px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid #5cb85c;
}
.header_Img{
   margin-left: 50px;
}
.local_City{
    float: left;
    margin-left: 213px;
    margin-top: -74px;
}
.shop_Address>img{
    width: 65px;
}
.start_City{
    padding-top: 10px;
    padding-bottom: 8px;
}
.start_City>p{
    padding: 0;
    margin: 0;
}
input.ipt{
    width: 280px;
    height: 40px;
    border: 3px solid #fe8800;
    float: left;
    margin-top: -64px;
    margin-left: 380px;
    outline: none;
    font-size: 19px;
    font-weight:normal;
}
input.btn1{
    width: 70px;
    height: 40px;
    background: #fe8800;
    float: left;
    margin-top: -64px;
    margin-left: 657px;
    border: none;
    outline: none;
    cursor: pointer;
}
input.btn2{
    width: 75px;
    height: 40px;
    border: none;
    border: 3px solid #fe8800;
    border-right: 1px solid #ddd;
    background: #F8F8F8;
    float: left;
    margin-top: -64px;
    margin-left: 308px;
    outline: none;
    text-align: left;
}
.btn1:hover{
    background: #fe6704;
}
.font1{
    font-size: 12px;
    color: gray;
}
.loge1{
    position: absolute;
}
.ipt{
    border-left:none;
}
.t_List>ul{
    float: left;
    padding: 0;
    margin: 0;
    border: 1px solid #eeeeee;
    position: absolute;
    margin-left: 25.4%;
    margin-top: -2%;
    background: #fff;
    display: none;
}
.t_List>ul>li{
    text-align: left;
    padding: 5px 12px;
    border-bottom:1px solid #eeeeee ;
}
.bg_grey{
    background-color: #ddd;
}
.font2{
    color: #000;
}
.search{
    float: left;
    margin-left: 62%;
    margin-top: -5%;
}
.hi_Search{
    width: 30px;
    height: 40px;
    border: none;
    box-shadow: none;
    float: left;
    margin-top: -64px;
    margin-left: 727px;
    text-align: center;
    line-height: 18px;
}
.font3{
    font-size: 13px;
    color: grey;
}
.jay{
    float: right;
    max-width: 317px;
    margin-top: -85px;
}
#banner{
    height:35px;
    width:100%;
    background-color:#F8F8F8;
    border-bottom: 1px solid #EEEEEE;
}
.green-box{
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #38C249;
}
ul.index{
    padding: 0;
    margin: 0;
    height: 32px;
    padding-left: 12%;
    margin: 0 auto;
}
ul.index>li{
    float: left;
    padding: 0px 12px 0px 12px;
    text-align: center;
    cursor: pointer;
    line-height: 33px;
    display: inline-block;
}
.bg1{
    background: #eeeeee;
}
.active1{
    background: #4ECE5A;
}
.a1{
    font-size: 14px;
    color: #2B8F08;
}
.a2{
    color: #fff;
    font-size: 14px;
}
ul.followGroup{
    height: 35px;
    width: 100%;
    background-color: #fff;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: none;
    position: absolute;
    margin-left: -70px;
    z-index: 100;

}
ul.followGroup>li{
    float: left;
    padding: 0px 12px 0px 12px;
    text-align: center;
    line-height: 33px;
}
.a3{
    font-size: 14px;
    color: #000;
}
.bghover{
    background: #fe6704;
}

.a4{
    color: #fe6704;
    font-size: 14px;
}
/*
.fg{
    float: left;
    padding-top: 18px;
}
*/
.mid_Ads{
    margin:0 auto;
    /*border:1px solid red;*/
    height:440px;
    width:100%;
    overflow:hidden;
    position:relative;
}

.mid_Ads .img{
    width:8000px;
    position:absolute;
    left:0;
    top:0;
    padding: 0;
    margin: 0;
}
ul.img>li>a>img{
    width: 1280px;
    height: 440px;
}
.mid_Ads .img li{
    float:left;
}
/*指示器*/
/*
.mid_Ads .num{
    position:absolute;
    width:100%;
    bottom:10px;
    left:0;
    text-align:center;
    font-size:0;
}
.mid_Ads .num li{
    width:10px;
    height:10px;
    background:#888;
    border-radius:50%;
    display:inline-block;
    margin:0 3px;
}
.mid_Ads .num li.on{
    background:#f60;
}
*/
/*左右按钮*/
.mid_Ads .btn{
    width:50px;
    height:110px;
    background: rgba(0,0,0,0.5);
    position:absolute;
    top:50%;
    margin-top:-25px;
    line-height:110px;
    color:#fff;
    font-size:40px;
    text-align:center;
    display: none;
    z-index: 2;
}
.mid_Ads .btn_r{
    right: 22.6%;
}
.mid_Ads .btn_l{
    left: 25.6%;
}
.hide_Area {
    width: 500px;
    height: 440px;
    position: absolute;
    top: 0;
    left: 29.1%;
    cursor: pointer;
    z-index: 1;
    display: block;
}
.left_Area{
    top: 5%;
    left: 5%;
    height: 400px;
    width: 250px;
    border: 1px solid red;
    position: absolute;
}
.right_Area{
    top: 5%;
    height: 400px;
    width: 250px;
    border: 1px solid deepskyblue;
    position: absolute;
    left: 77.4%;
}
