body {
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    font-family: "Microsoft YaHei","Hiragino Sans GB";
    color: #ffffff;
    background: #fff;
    margin: 0;
    padding: 0;
    display: block;
}
div {
    margin: 0;
    padding: 0;
}
#header{
    width: 990px;
    margin: 0 auto;
    /*background-color: rgba(0,0,0,0.1);*/
}
#header div.logo{
    height: 100px;
    width: auto;
}
#header div.welcome{
    font-weight: 500;
    color: royalblue;
    float: left;
    margin-top: -73px;
    margin-left: 183px;
    font-size: 34px;
    border-left: 5px solid royalblue;
    height: 40px;
    padding-top: 15px;
    padding-left: 23px;
}
#video_Area{
    width:100%;
    position:relative;
    padding-bottom:56.25%;    /*需要用padding来维持16:9比例,也就是9除以16*/
    height: 0;
}
#video_Area video{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
#container_register {
    width: 800px;
    /*height: auto;*/
    height: 545px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
form{
    /*border: 1px solid #777777;*/
    /*border-radius: 4px;*/

}
form.form_Chk{

}
form div.group{
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -10px;
    height: 60px;
    width: 800px;
    margin-top: 15px;
}
form div.group>label.lab{
    width: 10%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 0;
    text-align: right;
    font-weight:bold;
    font-size: 15px;
}

form div.group>div.text_Box{
    width: 35%;
    margin-right:15px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
form div.group>div.text_Box>input.form-Style{
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 24px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
label.tips{
    width: 35%;
    margin-right: 15px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 9px;
    padding-bottom: 5px;
    margin-bottom: 0;
    text-align: left;
    border-radius: 4px;
    color: #ffffff;
    margin-top: 8px;
}

#btn>input.btn_sub{
    width: 30%;
    display: inline-block;
    color: #fff;
    background-color: #5cb85c;
    /*border-color: #4cae4c;*/
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 14%;
    margin-top: 18px;

}
.hide{
    display: none;
}
.show{
    display: block;
}
.original{
    background-color: #777;
}
.login_Success{
    background-color: #5cb85c;
}
.login_Error{
    background-color:orangered;
}
.login_Success_Code{
    color: #5cb85c;
    font-size: 14px;
    font-weight: bold;
}
.login_Error_Code{
    color: orangered;
    font-size:14px;
    font-weight: bold;
}
#chk_Code{
    padding-left: 1%;
    padding-top: 2%;
}
#chk_Code b{
    font-size: 14px;
    padding-right: 10px;
}
#chk_Code>span{
    float: left;
    position: absolute;
    margin-left: 10px;
    margin-top: 1px;
}
#tip_img{
    width: 29px;
    height: 29px;
    display: block;
    /*border: 1px solid red;*/
    position: absolute;
    margin-left: 30.5rem;
    margin-top: -1.7rem;
}
.right{
    background: url("../img/right.png");
}
.wrong{
    background: url("../img/wrong.png");
}
#idcode{
    cursor: pointer;
}
#aft_Chk{
    float: right;
    margin-right: 19.5rem;
    margin-top: -20px;
}
#footer{
    position:absolute;
    left: 50%;
    top: 140%;
    margin: -60px 0px 0px -60px;
}
#footer>a{
    text-decoration: none;
    color: #fff;
}
